@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #000000;
  --secondary: #202224;
  --border: #e6e8ea;
  --muted: #545658;
  --hr: #3a3c3e;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-hr: var(--hr);

  /* Fonts */
  --font-sans: var(--font-reith-sans);
  --font-serif: var(--font-reith-serif);
}

body {
  @apply bg-background font-sans text-primary
}
