@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #000000;
  --secondary: #202224;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-reith-sans);
  --font-serif: var(--font-reith-serif);
}

body {
  @apply bg-background font-sans text-primary
}
